body h1 {
    background-color: #f8f8f8; /* Light gray background color */
    border: 1px solid #333; /* Black border */
    padding: 10px;
    font-family: "Arial", sans-serif; /* Specify the font family */
    color: #333; /* Text color */
    text-align: center; /* Center align the text */
    margin: 0; /* Remove default margin */
}

nav {
    background-color: #333; /* Dark background color */
    text-align: center; /* Center align the text */
    padding: 10px; /* Add padding */
    margin: 0 auto 10px; /* Add margin at the bottom and auto to center the nav horizontally */
    max-width: 600px; /* Limit the maximum width of the nav */
    border: 1px solid #333; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    font-size: 24px; /* Set the font size to match the h1 */
}

nav a {
    color: white; /* Text color */
    text-decoration: none; /* Remove underline from links */
    margin: 0 30px; /* Add spacing between links */
}
