body h1 {
    background-color:blue ; 
    border: 1px solid #333;
    padding: 10px;
    font-family: "Arial", sans-serif;
    color: white;
    text-align: center;
}
/**h1 design**/

nav {
    background-color: #333; /* Dark background color */
    text-align: center; /* Center align the text */
    padding: 10px; /* Add padding */
    margin-top: 20px; /* Add margin at the top */
    display: inline-block; /* Display the nav as inline-block to center it */
    border-radius: 5px; /* Add rounded corners */
}

nav a {
    color: white; /* Text color */
    text-decoration: none; /* Remove underline from links */
    margin: 0 10px; /* Add spacing between links */
}
/**nav design**/