/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: none; /* Initially hide the menu items */
    flex-direction: row;
    align-items: flex-end;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

nav a:hover {
    background-color: #555;
}

nav ul.show {
    display: flex; /* Show the menu items when the menu button is clicked */
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: auto; /* Push footer to the bottom */
}

/* Main Content Styles */
main {
    flex: 1;
    display: grid;
    grid-gap: 20px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

.temple-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
}

/* Temple Card Styles */
.temple-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.temple-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    max-height: 300px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
}
