/* styles.css */
body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url('../images/philippine-eagle-centre.jpg');
    background-position: center; /* Center the image */
    text-align: center;
    background-size: cover;
    /* Add other styles as necessary */
}
