/* Global styles */
:root {
    --primary-color: gray;
    --weather-icon-size: 50px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns layout */
    gap: 20px;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.data {
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 5px;
    width: 50%; /* 50% width for data container */
}

.weather {
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 5px;
    width: 50%; /* 50% width for weather container */
}

/* Weather icon in large view */
.weather::after {
    content: "⛅"; /* Emoticon for weather icon */
    font-size: var(--weather-icon-size); /* Variable for consistent sizing */
    position: absolute;
    top: 0;
    right: 0;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    main {
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
    }
    .data, .weather {
        width: 100%; /* Full width for data and weather containers */
    }
    /* Adjust the position of the weather icon for smaller screens */
    .weather::after {
        font-size: 30px; /* Adjust the font size as needed */
        position: relative; /* Position relative to its container */
        top: auto; /* Reset top position */
        right: auto; /* Reset right position */
        margin-top: 20px; /* Add margin to separate from weather details */
    }
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.hero {
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/09/ca/55/f4/philippine-eagle-centre.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}


