body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/philippine-eagle-centre.webp');
    background-size: cover;
    background-position: center;
    padding: 20px;
    box-sizing: border-box;
}

.weather {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.data-weather-container {
    display: flex;
    justify-content: flex-start; /* Align items to the start (left) of the flex container */
    align-items: flex-start; /* Align items to the start (top) of the flex container */
    margin: 20px;
}

.data {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%; /* Adjust as needed */
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.weather {
    position: absolute;
    top: 0; /* Position at the top of the footer */
    right: 0; /* Position at the right of the footer */
    width: 200px; /* Set a fixed width */
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-details {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start; /* Align items to the start (left) */
    margin-top: 20px;
}


.weather img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}
