body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

nav a:hover {
    background-color: #555;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
/* Shared styles for both views */
main {
    display: grid;
    grid-gap: 20px;
    max-width: 1500px;
    margin: 0 auto;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

figure img {
    max-width: 100%;
    max-height: 300px; /* Adjust this value as needed */
    object-fit: cover;
    border-radius: 10px;
}

/* mobile view */
@media (max-width: 400) {
    main {
        grid-template-columns: 1fr;
    }
}
/* larger view */
@media (min-width: 769px) {
    main {
        grid-auto-flow: column;
        grid-template-columns: none;
    }
}
/* temple grid */
.temple-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.temple-grid figure {
    text-align: center;
    grid-column: span 1; /* Makes the figure span 1 column */
}
.temple-grid img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
